/* Estilos generales */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

article {
    max-width: 800px;
    margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

figcaption {
    font-style: italic;
    text-align: center;
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* Estilos específicos para el contenido del blog */

h1 {
    margin: 0;
}

h2 {
    color: #333;
}

p {
    line-height: 1.6;
    margin-bottom: 20px;
}

a {
    color: #333;
    text-decoration: none;
}
.image-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.image-container {
    flex-basis: calc(50% - 10px); /* Divide el ancho en 2 y agrega espacio entre las imágenes */
    margin: 0 100px; /* Aumenta el espacio horizontal entre las imágenes */

}

.text-section {
    margin-bottom: 20px;
}
.image-container-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}